<section class="user">
  <h1 class="user__title">Profil utilisateur</h1>

  <form class="user__form" [formGroup]="userCredentialsForm" (ngSubmit)="onSubmit($event)">
    <fieldset class="user__fieldset">
      <input type="text" class="user__input" formControlName="username" autocomplete="username"
             [value]="userInfo()?.username" />
      <input type="email" class="user__input" formControlName="email" autocomplete="email"
             [value]="userInfo()?.email" />

      <input type="password" class="user__input" formControlName="newPassword"
             autocomplete="new-password" placeholder="Nouveau mot de passe" />
    </fieldset>

    <button type="submit" class="user__submit-button">Sauvegarder</button>
  </form>

  <div *ngIf="userUpdateIsLoading()">
    <app-spin-loader></app-spin-loader>
    <p class="user__loading">En attente...</p>
  </div>

  <div *ngIf="userHasAnError()">
    <p class="user__error">Une erreur est survenue: <br /> {{ userErrorMessage() }}</p>
  </div>
  <div *ngIf="!userHasAnError() && userSuccessMessage">
    <p class="user__success">{{ userSuccessMessage }}</p>
  </div>

  <button type="button" class="user__logout-button" (click)="logout()">Se déconnecter</button>

  <hr class="user__horizontal-line" />

  <div class="user__subscriptions-container">
    <h2 class="user__subscriptions-title">Abonnements</h2>
    <app-topics-container
      [onSubscriptionChange]="updateUserThemeSubscription"
      [topicsArray]="topicsArray">
    </app-topics-container>
  </div>
</section>
